
mixin contact ()

	section#virtual.section-contact
		h2.title-h2.title-h2--contact-section Заказать рекламу
		div.container.container--vertual
			.virtual-box
				.virtyal-block
					.loupe-widget.js-loupe
						// <div class="icon1"></div>
						.loupe-widget__loupe.js-loupe-element
						img.loupe-widget__image.js-loupe-image(src='img/vertual/vertual-bg-outer2.jpg' alt='image' data-image-full='http://satoshirepublic.org/img/virtual/bg2-vertual.jpg')
						//img.loupe-widget__image.js-loupe-image(src='http://satoshirepublic.org/img/virtual/bg1-vertua2.jpg' alt='image' data-image-full='http://satoshirepublic.org/img/virtual/bg2-vertual.jpg')
				img.virtual-icon1(src='http://satoshirepublic.org/img/virtual/icons/ambulance.png' alt='')
				img.virtual-icon2(src='http://satoshirepublic.org/img/virtual/icons/arrow-down.png' alt='')
				img.virtual-icon3(src='http://satoshirepublic.org/img/virtual/icons/baner.png' alt='')
				//img.virtual-icon4(src='http://satoshirepublic.org/img/virtual/icons/baner2.png' alt='')
				img.virtual-icon4(src='../img/vertual/icons/tour-agency.png' alt='')
				img.virtual-icon5(src='http://satoshirepublic.org/img/virtual/icons/cup.png' alt='')
				img.virtual-icon6(src='http://satoshirepublic.org/img/virtual/icons/eat.png' alt='')
				img.virtual-icon7(src='http://satoshirepublic.org/img/virtual/icons/mail.png' alt='')
				img.virtual-icon8(src='http://satoshirepublic.org/img/virtual/icons/subway-description.png' alt='')
				img.virtual-icon9(src='http://satoshirepublic.org/img/virtual/icons/subway.png' alt='')
				img.virtual-icon10(src='http://satoshirepublic.org/img/virtual/icons/taxi.png' alt='')
				img.virtual-icon11(src='http://satoshirepublic.org/img/virtual/icons/arrow-down.png' alt='')
				img.virtual-icon12(src='http://satoshirepublic.org/img/virtual/icons/monument.png' alt='')
