mixin five()
	section#backers.section-five
		div.container
			h2.title-h2.title-h2--four-section.aos-init.aos-animate(data-aos='fade-left', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150') BACKERS KYIV
		div#backers-carousel.container.container--five.aos-init.aos-animate(data-aos='fade-right', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
			div.container-five-section
				div.container-five-section__image-block
					img.container-five-section__image-block__img(src='img/backers/backer1.jpg')
				div.container-five-section__description
					div.container-five-section__backers
						span.container-five-section__backers__text Backers :
						span.container-five-section__backers__number 2
						span.container-five-section__backers__city LVIV
					div.container-five-section__btc
						img.container-five-section__btc__img(src='img/btc-icon.png')
						span.container-five-section__btc__number 1
						span.container-five-section__btc__value BTC
			div.container-five-section
				div.container-five-section__image-block
					img.container-five-section__image-block__img(src='img/backers/backer1.jpg')
				div.container-five-section__description
					div.container-five-section__backers
						span.container-five-section__backers__text Backers :
						span.container-five-section__backers__number 2
						span.container-five-section__backers__city LVIV
					div.container-five-section__btc
						img.container-five-section__btc__img(src='img/btc-icon.png')
						span.container-five-section__btc__number 1
						span.container-five-section__btc__value BTC

			div.container-five-section
				div.container-five-section__image-block
					img.container-five-section__image-block__img(src='img/backers/backer1.jpg')
				div.container-five-section__description
					div.container-five-section__backers
						span.container-five-section__backers__text Backers :
						span.container-five-section__backers__number 2
						span.container-five-section__backers__city LVIV
					div.container-five-section__btc
						img.container-five-section__btc__img(src='img/btc-icon.png')
						span.container-five-section__btc__number 1
						span.container-five-section__btc__value BTC

			div.container-five-section
				div.container-five-section__image-block
					img.container-five-section__image-block__img(src='img/backers/backer1.jpg')
				div.container-five-section__description
					div.container-five-section__backers
						span.container-five-section__backers__text Backers :
						span.container-five-section__backers__number 2
						span.container-five-section__backers__city LVIV
					div.container-five-section__btc
						img.container-five-section__btc__img(src='img/btc-icon.png')
						span.container-five-section__btc__number 1
						span.container-five-section__btc__value BTC
			div.container-five-section
				div.container-five-section__image-block
					img.container-five-section__image-block__img(src='img/backers/backer1.jpg')
				div.container-five-section__description
					div.container-five-section__backers
						span.container-five-section__backers__text Backers :
						span.container-five-section__backers__number 2
						span.container-five-section__backers__city LVIV
					div.container-five-section__btc
						img.container-five-section__btc__img(src='img/btc-icon.png')
						span.container-five-section__btc__number 1
						span.container-five-section__btc__value BTC

			div.container-five-section
				div.container-five-section__image-block
					img.container-five-section__image-block__img(src='img/backers/backer1.jpg')
				div.container-five-section__description
					div.container-five-section__backers
						span.container-five-section__backers__text Backers :
						span.container-five-section__backers__number 2
						span.container-five-section__backers__city LVIV
					div.container-five-section__btc
						img.container-five-section__btc__img(src='img/btc-icon.png')
						span.container-five-section__btc__number 1
						span.container-five-section__btc__value BTC

