mixin four()
	section#crypto-angel.section-four
		div.container
			h2.title-h2.title-h2-white.title-h2--four-section.aos-init.aos-animate(data-aos='fade-left', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150') Крипто-ангел
		div.container.container-four
			div.container-part.container-four-section.aos-init.aos-animate(data-aos='fade-up', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
				div.container-four-section__image
					img.container-four-section__image__frame(src='img/fraim2.png')
					img.container-four-section__image__person(src='img/soroka.jpg')
				div.container-four-section__name Александр Сорока
				div.container-four-section__line
				div.container-four-section__who Крипто-ангел
			div.container-part.container-four-section.aos-init.aos-animate(data-aos='fade-down', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
				div.container-four-section__image
					img.container-four-section__image__frame.container-four-section__image__frame--right(src='img/fraim2.png')
					img.container-four-section__image__person(src='img/moroz.jpg')
				div.container-four-section__name Андрей Мороз
				div.container-four-section__line
				div.container-four-section__who Амбассадор