mixin intro()
	section#intro.section.section-city-first(style='background-image:url(img/section-intro/intro-bg.jpg)')
		div.container.container--city-first
			div.container-part.container-part--first-section-left
				div.title-main-block
					img(src='img/section-intro/icon-map-search.png')
					h1.title-main.aos-animate(data-aos='fade-left', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150') Киев
				h2.title-main-description.aos-animate(data-aos='fade-right', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150') В Киеве на месте памятника Ленину установят памятник Сатоши Накамото
				p.main-description На первом этапе будет установлен виртуальный памятник, который можно увидеть, используя мобильное приложение.
				p.main-description На втором этапе будет подана общественная петиция в Киевскую городскую государственную администрацию (КГГА) и объявлен сбор денег на установку реального памятника.
			div.container-part.container-part--first-section-right
				p.bar-container-title Памятник устанавливается в каждом городе, собравшем достаточно средств:
				div.bar-container
					p.bar-container__description
					div.bar-container__body
						span.progress-bar__value.progress-bar__value--full 10BTC
						div.progress-bar
						div.progress.clearfix(data-percent='30%')
							div.progress-bar
								span.progress-bar__circle
								span.progress-bar__value 1BTC

				div.bar-price
					span.bar-price__number 1 BTC
					span.bar-price__text - виртуальный памятник

				div.bar-price
					span.bar-price__number 10 BTC
					span.bar-price__text - реальный памятник

				a.btn(href='#') PARTICIPATE








