mixin six()
	section#services.section-six
		div.container
			h2.title-h2.title-h2--six-section.aos-init.aos-animate(data-aos='fade-left', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150') Услуги
		div.container.container--six
			div.content-item.aos-init.aos-animate(data-aos='fade-up', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='100')
				img.content-item__img(src='img/services/service1.png')
				h3.content-item__title Паспорт,
					br
					|стать гражданином
				div.content-item__line
				div.content-item__description
					p.content-item__description__text Для того что-бы стать гражданином республики, необходимо будет купить паспорт.
					div.content-item__description__number 01

			div.content-item.aos-init.aos-animate(data-aos='fade-up', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150' data-aos-delay="150")
				img.content-item__img(src='img/services/service2.png')
				h3.content-item__title Аренда,
					br
					| виртуальной недвижимости
				div.content-item__line
				div.content-item__description
					p.content-item__description__text Текст услуги описание услуги краткое описание услуги Текст услуги описание услуги краткое описание услуги
					div.content-item__description__number 02

			div.content-item.aos-init.aos-animate(data-aos='fade-up', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150' data-aos-delay="200")
				img.content-item__img(src='img/services/service3.png')
				h3.content-item__title Реклама ,
					br
					| возле памятника
				div.content-item__line
				div.content-item__description
					p.content-item__description__text Текст услуги описание услуги краткое описание услуги Текст услуги описание услуги краткое описание услуги
					div.content-item__description__number 03