mixin third()
	section#monument.section-third
		div.container
			h2.title-h2 Конкурс
		div.container.container--third
			div.container-part.container-part--section-third-text
				p.section-third-text.aos-init.aos-animate(data-aos='fade-right', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150') Satoshi Nakamoto Republic объявляет конкурс на лучший прототип виртуального памятника легенде современности, - Satoshi Nakamoto, который будет установлен в Киеве.
				p.section-third-text.aos-animate(data-aos='fade-left', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')  Конкурс проходит в период
					span.section-third-text--color С 22 ИЮНЯ ПО 22 ИЮЛЯ 2018 Г.
					|Принять участие в конкурсе может любой желающий. Каждый участник может отправить не более 1й модели для участия в конкурсе Загрузить работы можно на странице конкурса (круглосуточно без выходных).
				div.section-third-text-block.aos-animate(data-aos='fade-right', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
					p.section-third-text  АВТОР ЛУЧШЕЙ ИДЕИ, НАБРАВШЕЙ НАИБОЛЬШЕЕ КОЛИЧЕСТВО ГОЛОСОВ, ПОЛУЧАЕТ ВОЗНАГРАЖДЕНИЕ В SATOSHI TOKENS:
					p.section-third-text  1 000 Satoshi Tokens за предоставление эскиза;
					p.section-third-text  5 000 Satoshi Tokens за предоставление 3D модели.
				div.aos-animate(data-aos='fade-left', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150')
					p.section-third-text  ПРОЕКТ-ПОБЕДИТЕЛЬ БУДЕТ ВОПЛОЩЕН В ВИРТУАЛЬНЫЙ ПАМЯТНИК
					span.section-third-text  Остальные конкурсанты, чьи работы получили меньший рейтинг, смогут продать свои образы другим городам, в которых будет установлен памятник
					a.section-third-text-link(href='http://contest.satoshirepublic.org/') Подробнее

			div.container-part.container-part--section-third-photo
				div#owl-monument.monument-image-block
					div.monument-image-block__item
						img.monument-image-block__item__img(src='img/monument/monumemt1.jpg')
						div.monument-image-block__item__hover
						img.monument-image-block__item__img-hover(src='img/icon-search.png')

					div.monument-image-block__item
						img.monument-image-block__item__img(src='img/monument/monumemt1.jpg')
						div.monument-image-block__item__hover
						img.monument-image-block__item__img-hover(src='img/icon-search.png')

					div.monument-image-block__item
						img.monument-image-block__item__img(src='img/monument/monumemt1.jpg')
						div.monument-image-block__item__hover
						img.monument-image-block__item__img-hover(src='img/icon-search.png')

					div.monument-image-block__item
						img.monument-image-block__item__img(src='img/monument/monumemt1.jpg')
						div.monument-image-block__item__hover
						img.monument-image-block__item__img-hover(src='img/icon-search.png')

					div.monument-image-block__item
						img.monument-image-block__item__img(src='img/monument/monumemt1.jpg')
						div.monument-image-block__item__hover
						img.monument-image-block__item__img-hover(src='img/icon-search.png')

					div.monument-image-block__item
						img.monument-image-block__item__img(src='img/monument/monumemt1.jpg')
						div.monument-image-block__item__hover
						img.monument-image-block__item__img-hover(src='img/icon-search.png')

					div.monument-image-block__item
						img.monument-image-block__item__img(src='img/monument/monumemt1.jpg')
						div.monument-image-block__item__hover
						img.monument-image-block__item__img-hover(src='img/icon-search.png')

					div.monument-image-block__item
						img.monument-image-block__item__img(src='img/monument/monumemt1.jpg')
						div.monument-image-block__item__hover
						img.monument-image-block__item__img-hover(src='img/icon-search.png')

				a.btn.btn--monument.aos-init.aos-animate(data-aos='fade-left', data-aos-easing='ease-in-sine', data-aos-duration='500', data-aos-offset='150' href='#') УЧАСТВОВАТЬ В КОНКУРСЕ
