mixin footer
	footer.footer
		div.container--footer.container
			a.header__logoBlock.logo(href='#')
				.logo-container.logo-container--white
					.logo-container__sn
						.logo-container__sn__satoshi SATOSHI
						.logo-container__sn__nakamoto NAKAMOTO
					.logo-container__foundation REPUBLIC
			.footer__socBlock
				span.footer__socText social
				.footer__socWrap
					a.footer__socLink.footer__socLink_facebook(href='https://www.facebook.com/SatoshiNakamotoRepublic/', target='_blank')
